body {
	font-family: sans-serif;
	background-color: #FCFCFC;
	padding: 0;
	margin: 0;
}

body #siteContent {
	padding:0 20px;
}

.clear { clear:both; }
.floatleft { float:left; }
.floatright { float:right; }

header {
	background-color: #303076;
	padding: 10px;
}
header, header a { color: #FFFFFF; }

/* Navigation bar links */
#nav_primary {
	text-align:left;
	position:relative;
	display:block;
}
#nav_primary a{
	padding:15px;
	text-decoration:none;
}
#nav_primary a:active,
#nav_primary a:focus,
#nav_primary a:hover
{
	background-color: #FFF;
	color: #303076;
}
#nav_primary ul {
	padding: 0;
	margin: 3px 0;
}
#nav_primary li {
	display: inline-block;
	list-style: none;
}
#nav_primary li:not(:last-child):after {
	content: '|';
	margin: 0 10px;
}

.donate { display: inline-block; }
.donate form { margin: 0; }



.serverResponse {
	border-color: black;
	border-style:solid;
	border-width:1px;
	padding: 10px;
	margin-bottom: 20px;
}

.success {
	background-color: #4DAE42;
	color: #FFF;
}

.error {
	background-color: #CB1616;
	color: #FFF;
}

.successText {
	color: #4DAE42;
}

.errorText {
	color: #CB1616;
}

.cta_text {
	font-weight: bold;
	font-size: 1.2em;
	color: green;
	cursor: pointer;
}

.button {
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	background-color: #337ab7;
	padding: .4% .7%;
	margin: .2%;
}



.filelist a {
	margin-bottom: 1%;
	display: block;
}

#results {
	height:200px;
	width: 700;
	overflow: auto;
	border: 1px solid black;
}
#results span { display: block; }

/* Side by Side table */
table.sidebysidetable {
	float: left;
	width:100%;
	height:auto;
	text-align:center;
}
table.sidebysidetable.sidebysidetable_col {
	height:auto;
	display:block;
	float:left;
}
table.sidebysidetable.sidebysidetable_col tr:first-child {
	background: #337ab7;
	color:#f1f1f1;
	font-weight:bold;
}
table.sidebysidetable.sidebysidetable_col1 { width:49%; text-align: left; }
table.sidebysidetable.sidebysidetable_col2 { width:40%; }
table.sidebysidetable.sidebysidetable_col3 { width:10%; }
table.sidebysidetable_col tr:nth-child(odd) {
	background-color: #fff;
}
table.sidebysidetable_col tr:nth-child(even) {
	background-color: #ededed;
}
table.sidebysidetable td {
	border-bottom:1px solid #333;
	padding:10px;
}

#reportChartContainer { padding-bottom: 70px; }

.processing {
	font-weight: bold;
	color: #1000FF;
	font-style: italic;
	margin-left: 10px;
	text-decoration: none;
}


.col { float:left; }
.col40 { width: 40%; }
.col50 { width: 50%; }
.col60 { width: 60%; }
.clear { clear:both; }


footer { margin-top: 50px; padding: 20px 20px 15px; background-color:#DDDDDD; }


/* Alert Box */
.alert { margin-top: .5%; padding: .5%; }
.alert a, .alert a:hover, .alert a:visited, .alert a:active { color: inherit; }

#siteContent div.alert.warning {
    background-color: #F00;
    color: #FF0;
}
#siteContent div.alert.success {
    background-color: #008813;
    color: #FFF;
}



/* Settings Page */
.site_settings_heading > div, .site_settings_row > div {
    display: inline-block;
}
.site_settings_heading .site_settings_label, .site_settings_row .site_settings_label {
    width: 350px;
}
.site_settings_heading .site_settings_label {
    margin-left: 10px;
}

.site_settings_heading {
    background-color: #5C7CC3;
    color: white;
    height: 80px;
}
.site_settings_heading > div span {
	display: inline-block;
	margin-top: 10px;
}
.site_settings_row .site_settings_google,
.site_settings_heading .site_settings_google,
.site_settings_row .site_settings_bing,
.site_settings_heading .site_settings_bing
{
    width: 100px;
    text-align: center;
}

.site_settings_row:nth-child(odd) {
    background-color: #EAEAEA;
}
.site_settings_row {
    padding: .5% 0;
}

.inputButton {
    border: none;
    font-size: 1em;
    margin-top: 1%;
    padding: .5% .8%;
    cursor: pointer;
}
.inputButtonSave {
    background-color: green;
    color: white;	
}

#upgradeVersion { margin-left: 5px; color: #FF5400; }



/* Reporting */
#report-custom div.report-parameter-group { padding: .5% 0; }
#report-custom div.report-parameter-group > span { margin-left: 10px; }
#page_report .button{ float: right; }

/* #page_report .col h2 ~ div { color: red; } */
#page_report .col h2:after {
    content: "\f078";
    font-family: FontAwesome;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-left: 2%;
}

.expandable > h2 { cursor: pointer; }